[data-md-color-primary=frat] .md-header, [data-md-color-primary=green] .md-hero {
    background-color: #8B8;
}

[data-md-color-primary=frat] .md-tabs {
    background-color: #8B8;
}

.md-content {
    margin-right: 0;
}

.md-sidebar--secondary {
    display: none;
}

.md-footer-nav, .md-footer-meta {
    background-color: #8B8 !important;
}

.md-typeset a {
    color: #8B8;
}

.md-nav__link--active, .md-nav__link:active {
    color: #8B8;
}

.md-footer-copyright {
    display: none;
}

.plan-title {
    text-align: center;
    color: white;
    background-color: #8B8;
    margin-bottom: 10px;
}

.plan-description {
    height: 120px;
}

.plan-detail {
    margin-top: 10px;
    margin-bottom: 10px;
}

.plan-plicing {
    font-size: 1.1em;
    color: #8B8;
}

.row .col.s3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}